.app-header{
    width:100%;
    padding: 4rem 0 2rem;
    background-color:#f5fbff;
    text-align: center;
    box-shadow: 0 0 2px 0 #b1bbc3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    img{
        margin:2rem auto 2rem;
        max-width: 360px;
        width:80%;
    }
    h1{
        font-size: calc(1rem + 5vmax);
        font-weight: 700;
        color: #4b48a6;
        line-height: calc(1rem + 5vmax);
    }
    p{
        font-size:calc( 1rem + 2vmax);
        color: #a8a5ef;
    }
    button{
        display:block;
        border:none;
        background:#8083e5;
       max-width: 300px;
       margin: 0 auto 0;
        color:#ffffff;
        border-radius: 30px;
        width:60%;
        padding: 1rem;
        font-size: 1.5rem;
        font-weight: 600;
    }
}

.header-content{
    max-width: 620px;
    margin: 2rem auto;
}