body
{
    background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    height: 100vh;
}

.buttons-group
{
    display: flex;
    justify-content: center;
    padding: 80px;
    justify-content: space-evenly;
}
#button1, #button2, #button3, #output
{
    font-family: 'Dancing Script', cursive;
}
h1
{
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.container-box
{
    padding: 35px;
}



.output-box 
{
    display: flex;
    justify-content: center;
}

.hidden
{
    display: none;
}



