body
{
    background: lightgray;
}

.buttons-group
{
    display: flex;
    justify-content: center;
    padding: 100px;
    justify-content: space-evenly;
}

h1
{
    text-align: center;
}

#button1 , #button2, #button3
{
    width: 100px;
    height: 50px;
    background-color: lightgreen;
    border-radius: 5%;
}

#output
{
    
    background-color: #fff;
    width: 500px;
    height: 100px;
    text-align: center;
}


.output-box 
{
    display: flex;
    justify-content: center;
}

.hidden
{
    display: none;
}